node_modules/
.env
.env.local
.env.*.local
infra/.env
dist/
.next/
.turbo/
*.log

# Medusa build outputs
.medusa/
medusa-build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Uploads locais
uploads/
